/* =========================================
   7. КАРТОЧКИ ЗАГРУЗКИ ИЗОБРАЖЕНИЙ
   ========================================= */
.logo-img {
    width: 210px;
    height: 98px;
    object-fit: cover;
    margin-right: 10px;
}

.trade-img-card,
.tf-card {
    padding: 15px;
    margin-bottom: 15px;
}

.tf-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: var(--text-main);
    font-weight: 600;
}

.btn-remove {
    background: transparent;
    border: none;
    color: var(--accent-red);
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
}

.image-preview-box {
    width: 100%;
    height: 150px;
    border: 1px dashed var(--glass-border);
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    border-radius: var(--border-radius-md);
    cursor: pointer;
}

.image-preview-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.image-preview-placeholder {
    color: var(--text-secondary);
    font-style: italic;
    font-size: 0.9em;
}